<div id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <ul class="bottom-nav">
                    <li><a href="/help">Допомога</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/articles">Цікаво знати</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="copyright"> <span>&copy; 2018 Усі права застережено. Розробка Євгеній Лісовий</span> </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/frontend/web/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/frontend/web/js/bootstrap.min.js"></script>
<script src="/frontend/web/js/YouTubePopUp.jquery.js"></script>
<script src="/frontend/web/js/jquery.fancybox.pack.js"></script>
<script src="/frontend/web/js/jquery.fancybox-media.js"></script>
<script src="/frontend/web/js/owl.js"></script>
<script src="/frontend/web/js/mixitup.js"></script>
<script src="/frontend/web/js/validate.js"></script>
<script src="/frontend/web/js/wow.js"></script>
<script src="/frontend/web/js/custom.js"></script>

<script src="/frontend/web/js/map.scripts.js"></script>

<script src="/frontend/web/js/Ajax.js"></script>