<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
{% include '@frontend/html/head.html.twig.twig' %}
{% endblock %}
</head>

<body class="page-wrapper home-page-2">

<div class="preloader">
    <div id="ajaxloader3">
        <div class="outer"></div>
        <div class="inner"></div>
    </div>
</div>

<!--Header Section-->

<header id="header-2" class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-4">
                    <div class="top-left">
                        <span class="fa fa-phone"> +380 (67) 123 45 67</span>
                        <span class="fa fa-envelope"> igor@i.ua</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div class="top-right">
                        <ul class="nav navbar-nav">
                            <li class="flaticon-chat-support"><a href="help-center.php.html" role="button" aria-haspopup="true" aria-expanded="false">Допомога</a></li>
                            <li class="flaticon-question"><a href="help-center.php.html" role="button" aria-haspopup="true" aria-expanded="false">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="index-2.php.html#"><img class="nav-logo" src="images/logo/logo.png" alt=""></a> </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="search-bar navbar-right">
                                <li><a href="index-2.php.html#search"><i class="fa fa-search"></i></a></li>
                                <li id="search" class="search-form">
                                    <form class="header-search" action="#" method="post">
                                        <input type="search" name="search" placeholder="Що Ви шукаєте?">
                                        <span class="src-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </form>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Головна</a></li>
                                <li><a href="/about">Про нас</a></li>
                                <li><a href="/services">Послуги</a></li>
                                <li><a href="#">Замовити</a></li>
                                <li><a href="/contacts">Контакти</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<!-- Get Your Choice -->
<div class="full-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="get-process bg-gray-2 padding30">
                    <h3 class="inner-title">Get a Brochure</h3>
                    <p>Rhoncus libero volutpat aptent dui convallis orci magna urna mollis lorem. Rutrum. Est fames nullam. Eleifend suspendisse sapien per consequat.</p>
                    <a class="btn btn-secondary" href="index-2.php.html#">Download</a> </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="get-process bg-gray padding30">
                    <h3 class="inner-title">Get an Appoinment</h3>
                    <p>Rhoncus libero volutpat aptent dui convallis orci magna urna mollis lorem. Rutrum. Est fames nullam. Eleifend suspendisse sapien per consequat.</p>
                    <a class="btn btn-secondary" href="index-2.php.html#">Send Your cv</a> </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="get-process bg-gray-2 padding30">
                    <h3 class="inner-title">Get Our Service</h3>
                    <p>Rhoncus libero volutpat aptent dui convallis orci magna urna mollis lorem. Rutrum. Est fames nullam. Eleifend suspendisse sapien per consequat.</p>
                    <a class="btn btn-secondary" href="index-2.php.html#">Request a Quote</a> </div>
            </div>
        </div>
    </div>
</div>

<!--Footer Section-->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="footer-widget">
                    <img class="nav-logo" src="images/logo/logo.png" alt="">
                    <div class="widget-content">
                        <p>Bibendum nisi, quam varius tristique, dictum lobortis, pellentesque donec purus eu facilisis suspendisse quie integer. Facilisis integer commodo ipsum congue noi adipiscing mi aliquet, fringilla quisque. Rhoncus porttitor feugiat malesuada, luctus. Vel cum quisque id conubia curae; hymenaeos aenean mauris.</p>
                        <ul class="address">
                            <li><i class="fa fa-map-marker"></i> <span>4214 Arlington Avenue Des Arc, AR 72040,</span></li>
                            <li><i class="fa fa-phone"></i> <span>(+1) 518-636-6052, (+1) 248-537-1825</span></li>
                            <li><i class="fa fa-envelope"></i> <span>Info@patron.com, support@patron.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Підписка</h3>
                    <div class="widget-content">
                        <p>Будьте завжди в курсі будь-яких змін в нашій компанії. Ми завжди повідомимо Вас про публікацію нових матеріалів</p>
                        <form method="post" action="/ajax/subscribe" class="subscribe">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Ваша електронна адреса" autocomplete="off">
                            </div>
                            <button class="btn btn-primary" type="submit" name="submit">Підписатись</button>
                        </form>
                        <div class="footer-social-icon">
                            <h3 class="color-white">Ми в соцмережах</h3>
                            <ul class="social-icon">
                                <li><a href="index-2.php.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="index-2.php.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="index-2.php.html#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="index-2.php.html#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="index-2.php.html#"><i class="fa fa-wifi"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer Bottom-->

{%block footer%}
{% include '@frontend/html/footer.html.twig.twig' %}
{%endblock%}

</body>
</html>