<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/backend/web/js/jquery.min.js"></script>
<script src="/backend/web/js/bootstrap.min.js"></script>
<script src="/backend/web/js/detect.js"></script>
<script src="/backend/web/js/fastclick.js"></script>
<script src="/backend/web/js/jquery.blockUI.js"></script>
<script src="/backend/web/js/waves.js"></script>
<script src="/backend/web/js/jquery.slimscroll.js"></script>
<script src="/backend/web/js/jquery.scrollTo.min.js"></script>
<script src="/backend/web/plugins/switchery/switchery.min.js"></script>

<!-- Counter js  -->
<script src="/backend/web/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/backend/web/plugins/counterup/jquery.counterup.min.js"></script>

<!--Morris Chart-->
<script src="/backend/web/plugins/morris/morris.min.js"></script>
<script src="/backend/web/plugins/raphael/raphael-min.js"></script>

<!-- Dashboard init -->
<script src="/backend/web/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="/backend/web/js/jquery.core.js"></script>
<script src="/backend/web/js/jquery.app.js"></script>