<title>Dashboard 1 - Dashboards - Appwork</title>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="icon" type="image/x-icon" href="favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

<!-- Icon fonts -->
<link rel="stylesheet" href="/backend/web/fonts/fontawesome.css">
<link rel="stylesheet" href="/backend/web/fonts/ionicons.css">
<link rel="stylesheet" href="/backend/web/fonts/linearicons.css">
<link rel="stylesheet" href="/backend/web/fonts/open-iconic.css">
<link rel="stylesheet" href="/backend/web/fonts/pe-icon-7-stroke.css">

<!-- Core stylesheets -->
<script src="/backend/web/js/theme-settings.js"></script>

<link rel="stylesheet" type="text/css" href="/backend/web/css/appwork-material.css" class="theme-settings-appwork-css">
<link rel="stylesheet" type="text/css" href="/backend/web/css/bootstrap-material.css" class="theme-settings-bootstrap-css">
<link rel="stylesheet" type="text/css" href="/backend/web/css/theme-corporate-material.css" class="material-style-only">
<link rel="stylesheet" type="text/css" href="/backend/web/css/colors-material.css" class="theme-settings-colors-css">
<link rel="stylesheet" type="text/css" href="/backend/web/css/theme-twitlight-material.css">

{#<link rel="stylesheet" type="text/css" href="/backend/web/css/appwork.css" class="">#}
{#<link rel="stylesheet" type="text/css" href="/backend/web/css/bootstrap.css" class="">#}
{#<link rel="stylesheet" type="text/css" href="/backend/web/css/theme-corporate.css" class="">#}

<link rel="stylesheet" href="/backend/web/css/uikit.css">
<link rel="stylesheet" href="/backend/web/css/demo.css">

<script src="/backend/web/js/material-ripple.js"></script>
<script src="/backend/web/js/layout-helpers.js"></script>

<script>
    window.themeSettings = new ThemeSettings({
        cssPath: '/backend/web/css/',
        themesPath: 'backend/web/css/'
    });
</script>

<!-- Core scripts -->
<script src="/backend/web/js/pace.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Libs -->
<link rel="stylesheet" href="/backend/web/libs/perfect-scrollbar/perfect-scrollbar.css">