<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Керування</li>

                <li class="has_sub">
                    <a href="/superuser/services" class="waves-effect"><i class="mdi mdi-auto-fix"></i><span> Послуги </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="mdi mdi-newspaper"></i><span> Статті </span></a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="mdi mdi-layers"></i><span class="label label-success pull-right bg-danger">2</span><span> Замовлення </span></a>
                </li>

                <li class="menu-title">Сайт</li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="mdi mdi-account-multiple"></i><span class="label label-success pull-right">2</span><span> Подписчики </span></a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="mdi mdi-comment"></i><span class="label label-success pull-right">2</span><span> Коментарі </span></a>
                </li>

                <li class="menu-title">Інформація</li>

                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-poll"></i><span> Статистика </span></a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="mdi mdi-help"></i><span> Допомога </span></a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

        <div class="help-box">
            <h5 class="text-muted m-t-0">Рорзобник</h5>
            <p>Євгеній Лісовий</p>
            <p class=""><span class="text-custom">Email:</span> <br/> voltexman@gmail.com</p>
            <p class="m-b-0"><span class="text-custom">Номер:</span> <br/> +380 (63) 416-36-48</p>
        </div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->